{% extends 'pizza/base.html' %}

{% block content %}
<h1>Order a pizza.</h1>
<h2>{{note}}</h2>

{% if created_pizza_pk %}
<a href="{% url 'edit_order' created_pizza_pk %}">Edit your pizza.</a>
{% endif %}
<form action="{% url 'order' %}" method = 'POST'>
    {% csrf_token %}
    {{pizzaform}}
    <input type="submit" value = "Order pizza">
</form>
<br><br>
Want more than one pizza?
<form action="{% url 'pizzas' %}" method="GET">
    {{multiple_form}}
    <input type="submit" value = "Get pizzas.">
</form>
    {% endblock %}
